/docs/
/lib/
/src/
/svg/
/.husky/
/.nvmrc
/babel.config.js
/jest.config.js
/styleguide.config.js
/webpack.config.js
/Jenkinsfile
/.idea
/.babelrc
/*.tgz
/.svgrrc
/.eslintrc.js
/.prettierrc.js
/commitlint.config.js
/rollup.config.js
/.github
/LICENSES
tsconfig.json
/.reuse
/types
tsconfig.types.json
api-extractor.json
